/* Style par defaut */
svg {
	}

.selectedText {
	fill: #FF0000;
	}

.unselectedText {
	fill: #0000FF;
	}

.selected {
	opacity:0.8;
	fill:white;
	fill-opacity:1;
	stroke: #FF0000;
	stroke-opacity:0.6;
	stroke-width: 15;
	}
	
.unselected {
	opacity:0.8;
	fill:white;
	fill-opacity:0.7;
	stroke: #0000FF;
	stroke-opacity:0.2;
	stroke-width: 7;
	}
.previewArea {
	fill: black;
	fill-opacity: 0.5;
}