/*bebon frederic */
svg {
	}

.selectedText {
	fill: #0000FF;
	}

.unselectedText {
	fill: #FF0000;
	}

.selected {
	opacity:0.8;
	fill:white;
	fill-opacity:1;
	stroke: #0000FF;
	stroke-opacity:0.6;
	stroke-linejoin:round;
	stroke-width: 15;
	}
	
.unselected {
	opacity:0.8;
	fill:white;
	fill-opacity:0.7;
	stroke: #FF0000;
	stroke-opacity:0.2;
	stroke-linejoin:round;
	stroke-width: 7;
	}